body {
  margin: 20px;
  font-family: sans-serif;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#slide {
  display: grid;
  grid-template-areas: 'stack';
  max-width: 600px;
  margin: 0 auto;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
  border-radius: 8px;
  overflow: hidden;
}
#slide-elements {
  grid-area: stack;
  display: grid;
  grid-template-areas: 'layer';
}

#slide-elements > * {
  grid-area: layer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
  object-fit: cover;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 1;
}

#slide-controls {
  grid-area: stack;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  position: relative;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

#slide-thumb {
  display: flex;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#slide-thumb > span {
  flex: 1;
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
  isolation: isolate;
}

#slide-thumb .thumb-item.active {
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  transform: translateX(-100%);
  animation: thumb linear forwards running;
}

#slide-thumb .thumb-item.paused {
animation-play-state: paused;
}


@keyframes thumb {
  to {
    transform: initial;
  }
}
